/*
color palette
primary : #39FF14 //neon green
secondary : #61DBFB // react blue / light blue
tertiary : 
background: #a9a9a9 //dark gray

start button : #39FF14
pause button : red
reset/edit button : #a9a9a9


*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');


.app{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;

	color: #39FF14;
	font-family: 'Roboto', sans-serif;
	font-weight:  400;

	cursor: default;
}

.app-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10%;
	background: #000000;
	border-radius: 15px;
}

a, a:link, a:hover, a:visited, a:active{
	color: #61DBFB;
	cursor: pointer;
	text-decoration: none;
}

#app-title{
}

#react-tag{
	color: #61DBFB;
}

.timer{
	font-size: 64px;
	font-weight: 700;
}

.edit-timer{
	color: #61DBFB;
}

input{
	border: 2px solid #61DBFB;
	border-radius: 5px;
	width: 30px;
}

.settings>button{
	margin: 5px;
	line-height: 30px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-size: 24px;
}

#start-button{
	background-color: #39FF14;
}

#pause-button{
	background-color: red;
}

#reset-button, #edit-button{
	background-color: #a9a9a9;
}


